In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler , LabelEncoder
import pickle

## Load Dataset

In [74]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [75]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [76]:
# checking for null values
data.isna().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [77]:
# check for features that not numeric
data.select_dtypes(include=['object']).columns

Index(['Surname', 'Geography', 'Gender'], dtype='object')

In [78]:
data.Surname.value_counts()

Surname
Smith       32
Scott       29
Martin      29
Walker      28
Brown       26
            ..
Izmailov     1
Bold         1
Bonham       1
Poninski     1
Burbidge     1
Name: count, Length: 2932, dtype: int64

## Preprocess Data By droping irelevant columns

In [15]:
data.head(2)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0

In [79]:
data.drop(['RowNumber', 'CustomerId','Surname'], axis=1, inplace=True)

In [80]:
data.head(2)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0

In [81]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [82]:
# numercical features
data.select_dtypes(exclude=['object']).columns

Index(['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [83]:
# non numerical features
data.select_dtypes(include=['object']).columns

Index(['Geography', 'Gender'], dtype='object')

## Encode Categories Features

In [84]:
data.Geography.value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [85]:
data.Gender.value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

### LabelEncoder in Gender Feature

In [86]:
Label_Encoder_gender = LabelEncoder()
data['Gender'] = Label_Encoder_gender.fit_transform(data['Gender'])

In [87]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

### One-Hot-Encoder in Gegoraphy Feature

In [88]:
from sklearn.preprocessing import OneHotEncoder

In [89]:
Oht_Geography = OneHotEncoder()
geo_Encoder = Oht_Geography.fit_transform(data[['Geography']]).toarray()
geo_Encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [90]:
Oht_Geography.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [91]:
geo_encoded_df =pd.DataFrame(geo_Encoder, columns=Oht_Geography.get_feature_names_out(['Geography']))

In [92]:
geo_Encoder.shape

(10000, 3)

In [93]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

##### Combine OneHotEncoder with original data

In [94]:
data  = pd.concat([data.drop(['Geography'],axis=1), geo_encoded_df], axis=1)

In [95]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [96]:
data.shape

(10000, 13)

In [97]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CreditScore        10000 non-null  int64
 1   Gender             10000 non-null  int32
 2   Age                10000 non-null  int64
 3   Tenure             10000 non-null  int64
 4   Balance            10000 non-null  float64
 5   NumOfProducts      10000 non-null  int64
 6   HasCrCard          10000 non-null  int64
 7   IsActiveMember     10000 non-null  int64
 8   EstimatedSalary    10000 non-null  float64
 9   Exited             10000 non-null  int64
 10  Geography_France   10000 non-null  float64
 11  Geography_Germany  10000 non-null  float64
 12  Geography_Spain    10000 non-null  float64
dtypes: float64(5), int32(1), int64(7)
memory usage: 976.7 KB

## Save the encoder and scalaer

In [112]:
with open('Oht_Geography.pkl', 'wb') as file:
    pickle.dump(Oht_Geography, file)
# check for correlation between features
with open('Label_Encoder_gender.pkl', 'wb') as file:
    pickle.dump(Label_Encoder_gender, file)

## Split data into dependent and independent fearures

In [99]:
X=data.drop(['Exited'], axis=1)
y=data['Exited']

### Split data into training and testing

In [100]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((8000, 12), (2000, 12), (8000,), (2000,))

## Scale features

In [101]:
sclaer = StandardScaler()
X_train = sclaer.fit_transform(X_train)
X_test = sclaer.transform(X_test)

In [115]:
with open('sclaer.pkl', 'wb') as file:
    pickle.dump(sclaer, file)

## ANN implementation

In [114]:
data['Exited'].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

so we have here a binary classification we use segmoid function in outpot Layer.

In [116]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.callbacks import EarlyStopping , TensorBoard
import datetime

### Build ANN Model

In [117]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),# HL1 connect with input layer
    Dense(32, activation='relu'), # HL2
    Dense(1, activation='sigmoid') # output layer
    ])

In [118]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 64)                832

 dense_7 (Dense)             (None, 32)                2080

 dense_8 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Compile the model

In [119]:
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss = tensorflow.keras.losses.BinaryCrossentropy()

In [120]:
model.compile(optimizer=opt, loss=loss, metrics=['accuracy'])

### Set up the tensorboard

In [121]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard



log_dir = 'logs/fit/' + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

### Set Up Early Stopping

In [122]:
eary_stopping_clallback = EarlyStopping(monitor='val_loss',patience=10, restore_best_weights=True)

### Train the model

In [123]:
history = model.fit(X_train, y_train,validation_data=(X_test,y_test), epochs=100, batch_size=32, callbacks=[eary_stopping_clallback, tensorboard_callback])

Epoch 1/100
250/250 [==============================] - 4s 8ms/step - loss: 0.4046 - accuracy: 0.8316 - val_loss: 0.3532 - val_accuracy: 0.8515
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3561 - accuracy: 0.8540 - val_loss: 0.3602 - val_accuracy: 0.8590
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3503 - accuracy: 0.8593 - val_loss: 0.3515 - val_accuracy: 0.8555
Epoch 4/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3459 - accuracy: 0.8572 - val_loss: 0.3479 - val_accuracy: 0.8590
Epoch 5/100
250/250 [==============================] - 2s 6ms/step - loss: 0.3427 - accuracy: 0.8606 - val_loss: 0.3427 - val_accuracy: 0.8590
Epoch 6/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3403 - accuracy: 0.8610 - val_loss: 0.3531 - val_accuracy: 0.8580
Epoch 7/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3346 - accuracy: 0.8656 - val_loss: 0.3419 - val_accuracy: 0.8620
Epoch 8/100
250/250 [==============================] - 1s 6ms/step - loss: 0.3303 - accuracy: 0.8645 - val_loss: 0.3505 - val_accuracy: 0.8575
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3300 - accuracy: 0.8651 - val_loss: 0.3583 - val_accuracy: 0.8565
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3272 - accuracy: 0.8639 - val_loss: 0.3475 - val_accuracy: 0.8555
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3282 - accuracy: 0.8648 - val_loss: 0.3393 - val_accuracy: 0.8595
Epoch 12/100
250/250 [==============================] - 1s 6ms/step - loss: 0.3237 - accuracy: 0.8684 - val_loss: 0.3437 - val_accuracy: 0.8590
Epoch 13/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3206 - accuracy: 0.8679 - val_loss: 0.3506 - val_accuracy: 0.8560
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3223 - accuracy: 0.8674 - val_loss: 0.3439 - val_accuracy: 0.8590
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3189 - accuracy: 0.8681 - val_loss: 0.3525 - val_accuracy: 0.8590
Epoch 16/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3157 - accuracy: 0.8733 - val_loss: 0.3514 - val_accuracy: 0.8565
Epoch 17/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3122 - accuracy: 0.8736 - val_loss: 0.3522 - val_accuracy: 0.8570
Epoch 18/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3127 - accuracy: 0.8723 - val_loss: 0.3640 - val_accuracy: 0.8630
Epoch 19/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3125 - accuracy: 0.8712 - val_loss: 0.3628 - val_accuracy: 0.8565
Epoch 20/100
250/250 [==============================] - 2s 6ms/step - loss: 0.3060 - accuracy: 0.8735 - val_loss: 0.3702 - val_accuracy: 0.8575
Epoch 21/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3031 - accuracy: 0.8744 - val_loss: 0.3703 - val_accuracy: 0.8605

In [127]:
model.save('model.h5', include_optimizer=False)

d:\ANN-project\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

## Load TensorBoard Extension

In [128]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [129]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 15424), started 8:15:29 ago. (Use '!kill 15424' to kill it.)